<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>List of Books</h1>
<table class="table table-striped">
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Year</th>
		<th>Isbn</th>
		<th>Price</th>
	</tr>
	<tr th:each = "book : ${books}">
 		<td th:text="${book.title}"></td>
 		<td th:text="${book.author}"></td> 
 		<td th:text="${book.year}"></td>
  		<td th:text="${book.isbn}"></td>
  		 <td th:text="${book.price}"></td>
  		 	<td th:text="${book.category.catname}"></td> 
 		<td class="btn btn-danger"><a th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
	 </tr>
</table>
<div class="btn btn-success">
<a  href="/add">Add Student</a>
</div>
</body>
</html>